@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Manrope", sans-serif;
  background-color: #f7f3f3;
  color: #31302e;
  font-weight: 300;
  line-height: 1.6; }

section {
  min-height: 100vh; }

a {
  cursor: pointer; }

p {
  font-size: 2rem; }

img {
  max-width: 100%; }

.heading-1, .heading-2, .heading-3 {
  font-family: "EB Garamond", serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #31302e;
  line-height: 1; }

.heading-2 {
  font-size: 3.5rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #31302e; }
  .heading-2--dark {
    color: #f9f7f6; }

.heading-3 {
  font-size: 2rem;
  color: #31302e;
  text-transform: uppercase; }

.paragraph-1 {
  font-size: 2rem; }

.paragraph-2 {
  font-size: 1.5rem; }

.text- .btn {
  background-color: #31302e;
  color: #fff;
  border: none;
  border-radius: none;
  font-family: "EB Garamond", serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s; }

a {
  text-decoration: none; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-large {
  margin-top: 10rem !important; }

header {
  max-width: 100%;
  padding: 5px 10px 20px 10px;
  background-color: #fff; }

header nav {
  height: 70px;
  width: 650px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px; }
  header nav a {
    text-transform: uppercase;
    color: #6d5d4b;
    font-size: 1.5rem;
    font-weight: 700;
    transition: color 0.2s ease-out; }
    header nav a:hover {
      color: #151515; }

#landing-page {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  background: url("../img/bg-1.jpeg") center no-repeat;
  background-size: cover;
  text-align: center;
  backface-visibility: hidden;
  animation: change 50s infinite ease-in-out; }
  #landing-page .content {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    #landing-page .content a {
      font-size: 1.5rem;
      background: #f9f7f6;
      padding: 10px 20px;
      color: #6d5d4b;
      transition: background 0.3s ease; }
      #landing-page .content a:hover {
        background: transparent; }

@keyframes change {
  0% {
    background-image: url("../img/bg-2.jpeg"); }
  25% {
    background-image: url("../img/bg-3.jpeg"); }
  50% {
    background-image: url("../img/bg-8.jpeg"); }
  75% {
    background-image: url("../img/bg-9.jpeg"); }
  100% {
    background-image: url("../img/bg-10.jpeg"); } }

#about-us {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  padding: 10%;
  line-height: 3.5rem; }
  #about-us h2 {
    padding-bottom: 2rem; }
  #about-us h3 {
    padding-bottom: 3.5rem; }
  #about-us p {
    text-align: left; }

#services {
  background-color: #fff;
  text-align: center;
  padding: 7%; }

.services-details {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  column-gap: 80px;
  row-gap: 40px; }
  .services-details__img {
    position: relative;
    border-radius: 50%;
    height: 255px;
    width: 250px;
    margin: 0 auto;
    overflow: hidden; }
    .services-details__img a img:first-child {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      visibility: hidden;
      z-index: 2; }
    .services-details__img a img:last-child {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      scale: 1; }
  .services-details__img:hover a img:last-child {
    transition: scale 0.4s ease-out;
    scale: 1.08;
    filter: blur(3px); }
  .services-details__img:hover a img:first-child {
    transition: visibility 0.6s ease-out;
    visibility: visible; }

#team {
  text-align: center;
  padding: 15% 10% 10% 10%; }

.team-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  column-gap: 60px;
  row-gap: 30px; }
  .team-details__img {
    position: relative;
    border-radius: 50%;
    height: 155px;
    width: 150px;
    margin: 0 auto;
    overflow: hidden; }
    .team-details__img img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      scale: 1; }
  .team-details div p:first-child {
    font-weight: bold; }

#testimonials {
  text-align: center;
  background-color: #fff;
  padding: 15% 10% 5% 10%; }

.testimonials-details {
  max-width: 100%;
  width: 800px;
  margin: 0 auto; }

.slider-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-top: 10px;
  position: relative; }
